<div class="alert alert-block alert-info">

# Imports

</div>

In [17]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

<div class="alert alert-block alert-info">

# Dataframes

</div>

In [25]:
df_features = pd.read_csv('./dataset/ted_main_features.csv',sep="|",quotechar='"')

In [26]:
df_features.columns

Index(['comments', 'duration', 'languages', 'num_speaker', 'views',
       'film_month', 'film_dayofweek', 'published_month',
       'published_dayofweek', 'event_TED',
       ...
       'world', 'worldwide', 'worth', 'write', 'writer', 'wrong', 'ye', 'year',
       'york', 'young'],
      dtype='object', length=580)

In [27]:
df_features.shape

(2550, 580)

In [28]:
df_features.head()

,comments,duration,languages,num_speaker,views,film_month,film_dayofweek,published_month,published_dayofweek,event_TED,...,world,worldwide,worth,write,writer,wrong,ye,year,york,young
0,10,810,1,1,418368,8,5,9,1,1,...,0,0,0,0,0,0,0,0,0,0
1,3,795,1,1,542088,8,5,9,4,1,...,0,0,0,0,0,0,0,0,0,0
2,8,723,4,1,707788,8,5,9,4,1,...,0,0,0,0,0,0,0,0,1,0
3,10,934,2,1,527314,8,5,9,2,1,...,0,0,0,0,0,0,0,0,0,0
4,33,722,4,1,613915,7,2,9,3,1,...,1,0,0,0,0,0,0,0,0,0

<div class="alert alert-block alert-info">

# Dummies

</div>

## Create Dummies

In [39]:
df_film_month = pd.get_dummies(df_features['film_month'],prefix='film_month')
df_published_month = pd.get_dummies(df_features['published_month'],prefix='published_month')

In [47]:
df_film_month.head(2)

,film_month_1,film_month_2,film_month_3,film_month_4,film_month_5,film_month_6,film_month_7,film_month_8,film_month_9,film_month_10,film_month_11,film_month_12
0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0

In [48]:
df_film_month.shape

(2550, 12)

In [49]:
df_published_month.head(2)

,published_month_1,published_month_2,published_month_3,published_month_4,published_month_5,published_month_6,published_month_7,published_month_8,published_month_9,published_month_10,published_month_11,published_month_12
0,0,0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0

In [50]:
df_published_month.shape

(2550, 12)

## Drop Columns

In [ ]:
df_features.drop(columns=['film_date','published_date'])

## Join Dummies

In [ ]:
df_features = df_features.merge(df_film_month, left_index=True, right_index=True)
df_features = df_features.merge(df_published_month, left_index=True, right_index=True)

<div class="alert alert-block alert-info">

# Train, Test, Split

</div>

In [44]:
X = df_features.drop(columns=['views'])
y = df_features['views']

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [46]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1785, 579)
(765, 579)
(1785,)
(765,)