<div class="alert alert-block alert-info">

# Imports

</div>

In [1]:
!pip install talos

Requirement already satisfied: talos in /usr/local/lib/python3.6/dist-packages (0.6.3)
Requirement already satisfied: kerasplotlib in /usr/local/lib/python3.6/dist-packages (from talos) (0.1.4)
Requirement already satisfied: wrangle in /usr/local/lib/python3.6/dist-packages (from talos) (0.6.7)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from talos) (0.24.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from talos) (1.16.4)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (from talos) (0.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from talos) (4.28.1)
Requirement already satisfied: chances in /usr/local/lib/python3.6/dist-packages (from talos) (0.1.6)
Requirement already satisfied: astetik in /usr/local/lib/python3.6/dist-packages (from talos) (1.9.8)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from talos) (2.21.0)
Requirement already satisfied: keras in /usr/local/lib/python3.6/dist-packages (from talos) (2.2.5)
Requirement already satisfied: scipy==1.2 in /usr/local/lib/python3.6/dist-packages (from wrangle->talos) (1.2.0)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.6/dist-packages (from wrangle->talos) (0.10.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->talos) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->talos) (2018.9)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn->talos) (0.21.3)
Requirement already satisfied: matplotlib==2.2.3 in /usr/local/lib/python3.6/dist-packages (from chances->talos) (2.2.3)
Requirement already satisfied: geonamescache in /usr/local/lib/python3.6/dist-packages (from astetik->talos) (1.0.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->talos) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->talos) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->talos) (2019.6.16)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->talos) (1.24.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from keras->talos) (3.13)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from keras->talos) (1.0.8)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras->talos) (2.8.0)
Requirement already satisfied: keras-preprocessing>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from keras->talos) (1.1.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from keras->talos) (1.12.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels->wrangle->talos) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn->talos) (0.13.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.2.3->chances->talos) (2.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.2.3->chances->talos) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.2.3->chances->talos) (0.10.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib==2.2.3->chances->talos) (41.2.0)

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import talos as ta
from talos.utils import hidden_layers, early_stopper

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import Adam, RMSprop
from keras.activations import relu, elu
from keras.losses import binary_crossentropy

<div class="alert alert-block alert-info">

# Dataframes

</div>

In [0]:
df_features = pd.read_csv('ted_main_features.csv',sep="|",quotechar='"')

In [4]:
df_features.columns

Index(['comments', 'duration', 'languages', 'num_speaker', 'views',
       'film_month', 'film_dayofweek', 'published_month',
       'published_dayofweek', 'event_TED',
       ...
       'world', 'worldwide', 'worth', 'write', 'writer', 'wrong', 'ye', 'year',
       'york', 'young'],
      dtype='object', length=580)

In [5]:
df_features.shape

(2550, 580)

In [6]:
df_features.head()

   comments  duration  languages  num_speaker  ...  ye  year  york  young
0        10       810          1            1  ...   0     0     0      0
1         3       795          1            1  ...   0     0     0      0
2         8       723          4            1  ...   0     0     1      0
3        10       934          2            1  ...   0     0     0      0
4        33       722          4            1  ...   0     0     0      0

[5 rows x 580 columns]

<div class="alert alert-block alert-info">

# Dummies

</div>

## Create Dummies

In [0]:
df_film_month = pd.get_dummies(df_features['film_month'],prefix='film_month',drop_first=True)
df_published_month = pd.get_dummies(df_features['published_month'],prefix='published_month',drop_first=True)

df_film_day = pd.get_dummies(df_features['film_dayofweek'],prefix='film_dayofweek',drop_first=True)
df_published_day = pd.get_dummies(df_features['published_dayofweek'],prefix='published_dayofweek',drop_first=True)

In [8]:
df_film_month.head(2)

   film_month_2  film_month_3  ...  film_month_11  film_month_12
0             0             0  ...              0              0
1             0             0  ...              0              0

[2 rows x 11 columns]

In [9]:
df_film_day.head(2)

   film_dayofweek_1  film_dayofweek_2  ...  film_dayofweek_5  film_dayofweek_6
0                 0                 0  ...                 1                 0
1                 0                 0  ...                 1                 0

[2 rows x 6 columns]

In [10]:
print(df_film_month.shape)
print(df_film_day.shape)

(2550, 11)
(2550, 6)

In [11]:
df_published_month.head(2)

   published_month_2  published_month_3  ...  published_month_11  published_month_12
0                  0                  0  ...                   0                   0
1                  0                  0  ...                   0                   0

[2 rows x 11 columns]

In [12]:
df_published_day.head(2)

   published_dayofweek_1  ...  published_dayofweek_6
0                      1  ...                      0
1                      0  ...                      0

[2 rows x 6 columns]

In [13]:
print(df_published_month.shape)
print(df_published_day.shape)

(2550, 11)
(2550, 6)

## Drop Columns

In [14]:
df_features = df_features.drop(columns=['film_month','film_dayofweek','published_month','published_dayofweek'])
df_features.head()

   comments  duration  languages  num_speaker  ...  ye  year  york  young
0        10       810          1            1  ...   0     0     0      0
1         3       795          1            1  ...   0     0     0      0
2         8       723          4            1  ...   0     0     1      0
3        10       934          2            1  ...   0     0     0      0
4        33       722          4            1  ...   0     0     0      0

[5 rows x 576 columns]

## Join Dummies

In [15]:
df_features = df_features.merge(df_film_month, left_index=True, right_index=True)
df_features = df_features.merge(df_published_month, left_index=True, right_index=True)
df_features = df_features.merge(df_film_day, left_index=True, right_index=True)
df_features = df_features.merge(df_published_day, left_index=True, right_index=True)
df_features.head()

   comments  duration  ...  published_dayofweek_5  published_dayofweek_6
0        10       810  ...                      0                      0
1         3       795  ...                      0                      0
2         8       723  ...                      0                      0
3        10       934  ...                      0                      0
4        33       722  ...                      0                      0

[5 rows x 610 columns]

<div class="alert alert-block alert-info">

# Train, Test, Split

</div>

In [0]:
# Generamos la matriz X y el vector y
X = df_features.drop(columns=['views'])
y = df_features['views']

In [0]:
# Separamos train y test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [20]:
# Estandarizamos las variables
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Chequeamos las shapes
print('X train shape: ', X_train.shape)
print('X test shape: ', X_test.shape)
print('y train shape: ', y_train.shape)
print('y test shape: ', y_test.shape)

X train shape:  (1785, 609)
X test shape:  (765, 609)
y train shape:  (1785,)
y test shape:  (765,)

In [0]:
# Primero, definimos una función que permita construir el modelo, donde todos los valores de los hiperparámetros se obtienen del diccionario params 

def views_ted_talks_model(x_train, y_train, x_val, y_val, params):

    model = Sequential()
    
    model.add(Dense(params['first_neuron'], input_dim=x_train.shape[1],
                    activation=params['activation']))
    
    hidden_layers(model, params, 1) # Necesario para explorar distintas configuraciones de capas ocultas
    
    model.add(Dense(1, activation=params['last_activation']))
    
    model.compile(optimizer=params['optimizer'],
                  loss='binary_crossentropy',
                  metrics=['mae'])
    
    history = model.fit(x_train, y_train,
                        validation_data=[x_val, y_val],
                        batch_size=params['batch_size'],
                        epochs=params['epochs'],
                        verbose=0,
                        callbacks=[early_stopper(params['epochs'])])

    return history, model

In [0]:
# Segundo, almacenamos en un diccionario el espacio de hiperparámetros a explorar

p = {'first_neuron':[128, 256, 64, 32],     # Requerido si queremos probar distinta cantidad de hidden_layers
     'hidden_layers':[2, 3, 4, 5, 6, 7, 8],     # Requerido si queremos probar distinta cantidad de hidden_layers
     'dropout': [0, 0.1, 0.3, 0.5, 0.6],   # Requerido si queremos probar distinta cantidad de hidden_layers
     'shapes': ['brick','triangle'],              # Requerido si queremos probar distinta cantidad de hidden_layers 
     'batch_size': [512, 256, 128, 64, 32, 16],
     'epochs': [10, 20, 50, 100, 300],
     'optimizer': [Adam,RMSprop,Adam(lr=0.003),RMSprop(lr=0.003)],
     'activation':[relu,elu],
     'last_activation': [relu,elu]}